# ZBoneCity
# Runtime config is created by MelonPreferences after first launch.
# You can change settings in-game through BoneMenu / ZBoneCity.

version=1.0.4
package=ZBoneCity
loader=MelonLoader
game=BONELAB